.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
.first-h1 {
  text-align: center;
  font-weight: 900;
  color: white;
}
.weather-app {
  background-color: #ffffffd8;
  max-width: 800px !important;
  margin: 30px auto;
  padding: 25px;
  box-shadow: 0 30px 50px rgba(163, 177, 187, 0.863);
  border-radius: 8px;
}

footer {
  border-top: 1px solid #f1e6ec !important;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: #5e5c5d !important;
}

a {
  color: #3f8da0 !important;
}
